In [8]:
import pandas as pd
df=pd.read_csv("temp.csv")
print(df)

   S.NO    NAME  AGE       CITY  SALARY
0     1     Tom   28    Toronto   20000
1     2     Lee   32  Hong Kong    3000
2     3  Steven   43   Bay Area    8300
3     4     Ram   38  Hyderabad    3900